.container-fluid {
  background: red;
  height: auto;
}
.container-fluid .white {
  margin: 0 ;
  padding: 0;
  float: left;
  margin-left: 15%;
  width: 70%;
  height: 1000px;
  background: white;
}
.container-fluid .white .white1 {
  margin: 0 ;
  padding: 0;
  float: left;
  margin-left: 0.5%;
  margin-top: 0.5%;
  width: 99%;
  height: 59%;
}
.container-fluid .white .white1 .box1 {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 80px;
}
.container-fluid .white .white1 .box1 h2 {
  margin-top: 30px;
  color: blue;
  text-align: center;
}
.container-fluid .white .white1 .box2 {
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 14.5%;
  width: 71%;
  height: 500px;
}
.container-fluid .white .white1 .box2 .box21 {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 50%;
}
.container-fluid .white .white1 .box2 .box21 .box211 {
  margin: 0;
  padding: 0;
  float: left;
  width: 68%;
  height: 100%;
}
.container-fluid .white .white1 .box2 .box21 .box211 img {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 85%;
  transition: 1s;
}
.container-fluid .white .white1 .box2 .box21 .box211 img:hover {
  transform: scale(1.1);
}
.container-fluid .white .white1 .box2 .box21 .box211 .chu {
  margin: 0;
  padding-top: 2%;
  float: left;
  width: 100%;
  height: 15%;
}
.container-fluid .white .white1 .box2 .box21 .box211 .chu .o {
  padding-top: 2%;
  float: left;
  width: 1%;
  height: 80%;
  margin: 0;
  background: blue;
}
.container-fluid .white .white1 .box2 .box21 .box211 .chu h3 {
  margin: 0;
  padding-top: 1%;
  padding-left: 3%;
  width: 90%;
  height: 15%;
  color: black;
  font-size: 15px;
}
.container-fluid .white .white1 .box2 .box21 .box212 {
  margin: 0;
  padding: 0;
  float: right;
  width: 28%;
  height: 100%;
}
.container-fluid .white .white1 .box2 .box21 .box212 img {
  margin: 0;
  padding: 0;
  float: right;
  width: 100%;
  height: 85%;
  transition: 1s;
}
.container-fluid .white .white1 .box2 .box21 .box212 img:hover {
  transform: scale(1.1);
}
.container-fluid .white .white1 .box2 .box21 .box212 .chu {
  margin: 0;
  padding-top: 4%;
  float: left;
  width: 100%;
  height: 15%;
}
.container-fluid .white .white1 .box2 .box21 .box212 .chu .o {
  padding-top: 4%;
  float: left;
  width: 2%;
  height: 80%;
  margin: 0;
  background: blue;
}
.container-fluid .white .white1 .box2 .box21 .box212 .chu h3 {
  margin: 0;
  padding-top: 3%;
  padding-left: 6%;
  width: 90%;
  height: 15%;
  color: black;
  font-size: 15px;
}
