.container-fluid{
	background: red;
	height: auto;
	.row7{
		.dung1{
			height: 200px;
			background-image: url(jaycee.jpg);
			background-size: 100% 100%;


			.row{
				.container{
					height: 200px;
					// background:red;
					.row{
						.dung3{
							// background: silver;
							height: 200px;
							h3{
								color: white;
							}
							.khunganh{
								height: 50px;
								width: 50px;
								float: left;
								margin: 5px;
								border-radius: 50%;
								// background: blue;
								img{
									border-radius: 50%;
									height: 100%;
									width: 100%;

								}
							}

						}
						.dung2{
							// background: gold;
							h3{
								color: white;
							}
							p{
								color: white;
							}

							height: 200px;
							border-left:  2px solid white;
							border-right: 2px solid white;
						}
						.dung4{
							height: 200px;
							h3{
								color: white;
							}
							span{
								color: white;

							}
							p{
								color: white;
							}
						}
					}
				}
			}
		}
	}
	.row8{
		.end{
			height: 50px;
			background: silver;
		}
	}
}